server {
    listen ${PORT};

    location / {
        root /app/web/local;
    }

    location /api/ {
        proxy_pass http://localhost:8002;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
