/* Light Theme Variables */
:root {
    --background-color: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    --chatbox-bg-color: #fff;
    --text-color: #4c4c4c;
    --bubble-bg-color: #ddd;
    --user-bubble-color: #5084d8;
    --user-bubble-text-color: #fff;
    --bot-bubble-color: #ddd;
    --bot-bubble-text-color: #333;
    --modal-bg-color: #fff;
    --button-bg-color: #7459fe;
    --button-hover-bg-color: #9480ff;
    --tooltip-bg-color: #5084d8;
    --nav-bg-color: #111;
    --nav-text-color: #c9c8c8;
    --chat-tab-active-bg: #a6c1ee;
    --chat-tab-bg: #c3cfe200;
    --control-tab-bg: #1c3f77;
    --sidenav-bg-color: #111;
    --debug-window-bg-color: #4b4b4b;
    --socket-status-bg-color: #f2f2f2;
    --socket-status-border-color: #ccc;
    --socket-status-shadow-color: rgba(0, 0, 0, 0.1);
    --debug-stats-bg-color: #f2f2f2;
    --table-header-text-color: #ddd;
    --link-color: #5084d8;
    --chat-tab-dots-color: #111;
    --icon-color: #184386;
    --chat-tab-menu-bg: #c3cfe2;
    --chat-tab-menu-hover-bg: #a6c1ee;
    --scrollbar-thumb-color: #a6c1ee;
    --scrollbar-track-color: #c3cfe2;
}

/* Dark Theme Variables */
.dark-theme {
    --background-color: linear-gradient(135deg, #222, #333);
    --chatbox-bg-color: #333;
    --text-color: #ddd;
    --bubble-bg-color: #333;
    --user-bubble-color: #184386;
    --user-bubble-text-color: #eef1f7;
    --bot-bubble-color: #595656;
    --bot-bubble-text-color: #ddd;
    --modal-bg-color: #222;
    --button-bg-color: #333;
    --button-hover-bg-color: #444;
    --tooltip-bg-color: #333;
    --nav-bg-color: #222;
    --nav-text-color: #696969;
    --chat-tab-active-bg: #333;
    --chat-tab-bg: #22222200;
    --control-tab-bg: #1c3f77;
    --sidenav-bg-color: #222;
    --debug-window-bg-color: #333;
    --socket-status-bg-color: #333;
    --socket-status-border-color: #444;
    --socket-status-shadow-color: rgba(0, 0, 0, 0.3);
    --debug-stats-bg-color: #595656;
    --table-header-text-color: #ddd;
    --link-color: #5b9eff;
    --chat-tab-dots-color: #ddd;
    --icon-color: #4a91ff;
    --chat-tab-menu-bg: #333;
    --chat-tab-menu-hover-bg: #444;
    --scrollbar-thumb-color: #555;
    --scrollbar-track-color: #333;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-color);
}

@-ms-viewport {
    width: device-width;
}

html {
    height: 100%;
}

body {
    font-family: 'Lexend', 'Mulish', sans-serif;
    background: var(--background-color);
    /* background: #111; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    overflow: hidden;
    flex-direction: column;
    margin-left: 0;
}

a {
    color: var(--link-color);
}

.socket-status {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px;
    background-color: var(--socket-status-bg-color);
    border: 1px solid var(--socket-status-border-color);
    border-radius: 5px;
    font-family: Arial, sans-serif;
    width: 200px;
    box-shadow: 2px 2px 5px var(--socket-status-shadow-color);
    z-index: 10;
    color: var(--text-color);
}

.socket-status p {
    margin: 0;
}

.socket-status p#username {
    font-weight: bold;
}

#body-profile {
    font-family: 'Lexend', 'Poppins', sans-serif;
    background: var(--background-color);
    background-attachment: fixed;
    display: block;
    height: 100vh;
    margin: 0;
    margin-left: 0;
    overflow: auto;
}

.main_title {
    margin: 0 0 5px;
    text-align: center;
    color: var(--text-color);
    font-family: 'Lexend', 'Mulish', sans-serif;
    font-size: 1.5em;
}

.sub_title {
    margin: 0 0 10px;
    text-align: center;
    color: var(--text-color);
    font-size: 12px;
    font-family: 'Lexend', 'Mulish', sans-serif;
    font-size: 1.0em;
}

.sub_title_2 {
    margin: 0 0 10px;
    text-align: center;
    color: var(--text-color);
    font-size: 20px;
}

.sub_data {
    margin: 0 0 10px;
    text-align: center;
    color: var(--text-color);
    font-size: 12px;
    font-family: 'Lexend', 'Mulish', sans-serif;
    font-size: 1.0em;
}

.control-buttons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.chat-interface {
    position: relative;
    display: flex;
}

#toggle-chat-tabs.no-transition span {
    transition: none;
}

#toggle-chat-tabs {
    position: absolute;
    left: 13vw;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    z-index: 6;
    color: var(--icon-color);
}

#toggle-chat-tabs.open {
    left: 13vw;
}

#toggle-chat-tabs.closed {
    left: 0;
}

#toggle-chat-tabs.open span {
    display: inline-block;
    transform: rotate(0deg);
}

#toggle-chat-tabs.closed span {
    display: inline-block;
    transform: rotate(60deg);
}

.transition-enabled span {
    transition: left 0.5s, transform 0.5s;
}

.control-tab {
    display: block;
    background-color: var(--control-tab-bg);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    text-align: center;
    align-items: flex-start;
    width: 100%;
    overflow: hidden;
    font-size: small;
}

.chat-tabs-container {
    position: relative;
}


.chat-tab {
    display: block;
    margin-bottom: 5px;
    background-color: var(--chat-tab-bg);
    color: var(--text-color);
    border: none;
    padding: 10px;
    padding-right: 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    font-size: smaller;
    overflow: hidden;
    /* Mask for text fade out starting at 90% of the parent's width */
    -webkit-mask-image: linear-gradient(to right, black 11vw, transparent 13vw);
    mask-image: linear-gradient(to right, black 11vw, transparent 13vw);
    width: 100%;
    white-space: nowrap;

}

.chat-tab:hover {
    background-color: #5084d841;
}

.chat-tab.active {
    background-color: #a6c1ee;
    font-size: smaller;
    width: 100%;
    padding-right: 20px;
}

.chat-container {
    flex-grow: 1;
    max-width: 87vw;
    min-width: 87vw;
    max-height: 80vh;
    height: 80vh;
    background: var(--chatbox-bg-color);
    border-radius: 10px;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 5;
}

.chat-container.open {
    max-width: 74vw;
    min-width: 74vw;
}

.chat-tab.active {
    background-color: #5084d8;
    color: white;
}

table {
    height: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

table tr {
    align-items: center;
}

table tr td {
    vertical-align: top;
}

.markdown table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.markdown th,
.markdown td {
    border: 1px solid var(--bot-bubble-text-color);
    padding: 8px;
}

.markdown th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--tooltip-bg-color);
    color: var(--table-header-text-color);
}

.markdown tr {
    border: 1px solid var(--bot-bubble-text-color);
}

.markdown tr:nth-child(even) {
    background-color: var(--nav-text-color);
}


#messages {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.input-field {
    display: flex;
    border-top: 1px solid #ddd;
    padding: 10px;
    align-items: center;
}

.textarea-container {
    position: inherit;
    width: 100%;
}

.icon-container-left,
.icon-container-right {
    display: flex;
    align-items: center;
    position: absolute;
}

.icon-container-left {
    bottom: 4.5vh;
    transform: translateY(50%);
}

.icon-container-right {
    bottom: 4.5vh;
    right: 25px;
    transform: translateY(50%);
}

.input-field textarea {
    width: 100%;
    border: none;
    padding: 18px 155px 18px 85px;
    outline: none;
    line-height: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    vertical-align: middle;
    resize: vertical;
    max-height: 60vh;
    min-height: 70px;
    background-color: var(--chatbox-bg-color);
    color: var(--text-color);
}


.input-field button {
    background: none;
    cursor: pointer;
    border: none;
}

.input-field button:disabled {
    color: #d54747;
    border: none;
    cursor: not-allowed !important;
}

.input-field button:hover {
    color: var(--icon-color);
}

.input-field button[disabled]:hover {
    color: #d54747;
}

.input-field .send-button {
    color: var(--icon-color);
    border: none;
    cursor: pointer;
}

.input-field .send-button:disabled {
    color: #d54747;
    border: none;
    cursor: not-allowed !important;
}

.input-field .send-button:hover {
    color: #a6c1ee;
}

.input-field .send-button[disabled]:hover {
    color: #d54747;
}

.input-field .record-button {
    color: var(--icon-color);
    border: none;
    cursor: pointer;
}

.input-field .stop-button {
    color: var(--icon-color);
    border: none;
    cursor: pointer;
}

.input-field .record-button:disabled {
    color: #d54747;
    border: none;
    cursor: not-allowed !important;
}

.input-field .record-button:hover {
    color: #a6c1ee;
}

.input-field .record-button[disabled]:hover {
    color: #d54747;
}

.input-field i {
    margin-right: 10px;
    width: 15px;
}

.deletebutton {
    margin-right: 0px !important;
}

.input-field .cogwheel {
    color: var(--icon-color);
    font-size: 20px;
    cursor: pointer;
}

.input-field .upload-icon {
    color: var(--icon-color);
    font-size: 20px;
    cursor: pointer;
}

.input-field .upload-button {
    background: none;
    cursor: pointer;
    border: none;
}

.input-field .upload-button i {
    color: var(--icon-color);
    transition: color 0.3s;
}

.input-field .upload-button:hover i {
    color: #a6c1ee;
}

.input-field .upload-button:disabled {
    color: #d54747;
    border: none;
    cursor: not-allowed !important;
    transition: background 0.3s;
}

.input-field .upload-button:hover {
    color: #a6c1ee;
}

.input-field .upload-button[disabled]:hover {
    color: #e2c3c3;
}

#fileInfo {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#fileInfo #fileName {
    margin-right: 10px;
}

#fileInfo #deleteFile {
    background: #c3cfe2;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background 0.3s;
    display: none;
}

#fileInfo #uploadFile {
    background: #c3cfe2;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background 0.3s;
    display: none;
}

#fileInfo #deleteFile:hover {
    background: #a6c1ee;
}

.message {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.message span.timestamp {
    font-size: 0.7em;
    color: #888;
    padding-right: 5px;
}

.message .bubble {
    display: block;
}

.message .bubble img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.bubble {
    word-wrap: break-word;
    white-space: normal;
    max-width: 100%;
    overflow-x: auto;
}

.bubble table {
    display: block;
    width: auto;
    overflow-x: auto;
    border-collapse: collapse;
}

.bubble blockquote {
    font: 14px/22px normal helvetica, sans-serif;
    padding-left: 15px;
    border-left: 3px solid #ccc;
    text-wrap: nowrap;
}

.message.bot .bubble {
    background-color: var(--bot-bubble-color);
    color: var(--bot-bubble-text-color);
    border-radius: 6px;
    padding: 10px 15px;
    display: inline;
    max-width: 80%;
    word-wrap: break-word;
}

.message.system .bubble {
    background-color: #c4d4be;
    color: #333;
    border-radius: 6px;
    padding: 10px 15px;
    display: inline;
    max-width: 80%;
    word-wrap: break-word;
}

.message.fr .bubble {
    background-color: #c0cfdc;
    color: #333;
    border-radius: 6px;
    padding: 10px 15px;
    display: inline;
    max-width: 80%;
    word-wrap: break-word;
}

.message.debug .bubble {
    color: var(--text-color);
    border-radius: 6px;
    display: inline;
    max-width: 80%;
    word-wrap: break-word;
}

.message.plan .bubble {
    background-color: #dcd2c0;
    color: #333;
    border-radius: 6px;
    padding: 10px 15px;
    display: inline;
    max-width: 80%;
    word-wrap: break-word;
}

.message.external .bubble {
    background-color: #d4c1be;
    color: #333;
    border-radius: 6px;
    padding: 10px 15px;
    display: inline;
    max-width: 80%;
    word-wrap: break-word;
}

.message.user .bubble {
    background-color: var(--user-bubble-color);
    color: var(--user-bubble-text-color);
    border-radius: 6px;
    padding: 10px 15px;
    display: inline;
    max-width: 80vh;
    word-wrap: break-word;
    align-self: flex-end;
    min-width: 20vh;
}

.message.user .bubble a {
    color: #eef1f7;
    text-decoration: underline;
}

.message.user .bubble a:hover {
    color: #eef1f7;
    text-decoration: none;
}

.message.error .bubble {
    background-color: #df6969;
    color: white;
    border-radius: 6px;
    padding: 10px 15px;
    display: inline-block;
    max-width: 80%;
    word-wrap: break-word;
    align-self: flex-end;
}

.message.warning .bubble {
    background-color: #e38148;
    color: white;
    border-radius: 6px;
    padding: 10px 15px;
    display: inline-block;
    max-width: 80%;
    word-wrap: break-word;
    align-self: flex-end;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

pre {
    background-color: #f5f5f5;
    /* or any color you prefer */
    padding-top: 5px;
    padding-left: 10px;
    border-radius: 5px;
    overflow: auto;
    color: #111;
}

.language {
    font-size: 0.8em;
    color: #888;
    margin-bottom: 5px;
}

.copy-btn {
    float: right;
    margin-right: 5px;
    margin-top: -20px;
    background: #c3cfe2;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 5px;
}

.copy-btn:hover {
    background: #a6c1ee;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    color: white;
}

#overlay.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    z-index: 9999;
}

#overlay .text {
    color: white;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.spinner {
    border: 3px solid #f3f3f3;
    /* Light grey */
    border-top: 3px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.last-message {
    animation: fadeIn 0.3s;
}

.expandable {
    cursor: pointer;
    border: 1px solid #535353;
    border-radius: 5px;
    padding: 8px;
    margin: 9px 0;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
    max-height: 35px;
}

.expandable .arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.expandable.expanded .arrow {
    transform: translateY(-50%) rotate(180deg);
}

.expandable.expanded {
    max-height: 500px;
    /* maximum expanded height */
    overflow-y: auto;
}

.expandable .title {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
    padding-right: 30px;
}

.expandable .description {
    font-size: 1em;
    margin-bottom: 10px;
}

.expandable .details {
    font-size: 0.9em;
    color: #666;
}

.sidenav {
    width: 13vw;
    position: fixed;
    top: 18vh;
    left: -13vw;
    overflow-x: auto;
    transition: left 0.3s;
    color: #c9c8c8;
    z-index: 5;
    bottom: 13vh;
}

.sidenav.open {
    left: 0;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #c9c8c8;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 10vh;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav h2 {
    font-size: 18px;
    color: #f1f1f1;
    margin-bottom: 20px;
}

.sidenav h3 {
    font-size: 16px;
    color: #f1f1f1;
    margin-bottom: 10px;
}

.sidenav a {
    padding: 5px 5px 5px 20px;
    text-decoration: none;
    font-size: 12px;
    color: #c9c8c8;
    display: block;
    transition: 0.3s;
}

.sidenav input[type="checkbox"] {
    margin-right: 10px;
}

.sidenav select,
.sidenav textarea,
.sidenav input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    color: #c9c8c8;
    background-color: #222;
    border: none;
}

.sidenav label {
    padding: 5px 5px 5px 20px;
    font-size: 12px;
    color: #c9c8c8;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

.preset-text-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.preset-text-button {
    flex-grow: 1;
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
}

.thumbs {
    /* put them bottom right of the parent div */
    position: relative;
    bottom: 16px;
    left: 60px;
}

/* button class thumbs up */
.thumbs-up {
    background: #0c6b3465;
    cursor: pointer;
}

/* button class thumbs down */
.thumbs-down {
    background: #c60c0c65;
    cursor: pointer;
}

/* Style for the right side navigation */
.sidenav-right {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/* Style for the debug windows */
.debug-window {
    margin: 15px;
    padding: 10px;
    background-color: #4b4b4b;
    border-radius: 5px;
    overflow-y: auto;
    max-height: 200px;
    color: #ffffff;
    /* default text color */
}

/* The content inside the debug windows */
#debugContent1 {
    color: #ffffff;
    overflow-y: auto;
    background-color: #4b4b4b;
    height: 40vh;
    /* or any height you prefer */
    margin-right: 10px;
}

#debugContent2 {
    color: #ffffff;
    overflow-y: auto;
    background-color: #4b4b4b;
    height: 40vh;
    /* or any height you prefer */
    margin-right: 10px;
}

/* The close button */
.dclosebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
}

.dclosebtn:hover {
    color: #ffffff;
    text-decoration: none;
}

.dclosebtn:link {
    color: #f1f1f1;
    text-decoration: none;
}


.bottomright-with-nw-resize-outer {
    /* Here's the trick: rotate the entire element so the resize handle is in the other corner. */
    transform: rotateZ(180deg);
    /* Note that in order to make resize: both work, an overflow is needed with anything other than visible.
      Set it to auto so we don't see scrollbars,
      but this element should never actually overflow as the only child has fixed 100% width and height.
   */
    resize: horizontal;
    overflow: auto;
    /* Need a little padding for this element for the resize handle to be clickable.
      Also note the rotation flips the directions that need padding. */
    padding: 0 8px 8px 0;
    /* Should work for position fixed or absolute, as long as it is bottom/right positioned. */
    position: fixed;
    bottom: 0px;
    right: 0px;
    /* initial size can be anything, but usually wise to set it to something sensible initially. */
    height: 0;
    width: 0;
    z-index: 500;
    background-color: #111;
}

.bottomright-with-nw-resize-inner {
    /* Rotate everything back so content is right way up: */
    transform: rotateZ(180deg);
    /* Grow along with resizable parent: */
    width: 100%;
    height: 100%;
    /* make contents scrollable if resizable parent gets to small: */
    overflow: auto;
}

.loginError {
    background-color: #ff0000;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.statsWindow {
    background-color: var(--debug-stats-bg-color);
    overflow-y: auto;
    max-height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.8em;
}

.statsWindow p {
    color: var(--text-color);
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    padding-left: 10px;
    padding-right: 10px;
}

#overlay_msg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    color: #fff;
}

#overlay-content {
    display: flex;
    flex-direction: column;
    align-items: center
}

#overlay-loader {
    border: 7px solid #c2d3c2;
    border-top: 7px solid #34db86;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.image-wrapper {
    position: relative;
    display: inline-block;
    background: #c3cfe2;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
    padding: 5px 5px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
}

.image-wrapper img {
    max-width: 100px;
    max-height: 36px;
}

.hover-text {
    position: absolute;
    text-align: center;
    display: none;
    font-size: small;
    text-shadow: 1px 1px black;
    top: 0;
}

.hover-text i {
    color: red;
    border-radius: 50%;
}

.modal {
    top: 30%;
}

#settingsModal {
    z-index: 1060;
    top: 0;
}

#googleAuthModal {
    z-index: 1065;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.767);
    z-index: 1040;
}

.modal-backdrop-auth {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050;
}

.modal-open {
    overflow: hidden;
}

.image-wrapper:hover .hover-text {
    display: block;
}

.files-preview {
    display: flex;
    justify-content: center;
}

.file-preview {
    position: relative;
    display: inline-block;
    margin-right: 5px;
}

.file-preview {
    font-size: 24px;
    color: var(--icon-color);
}

.file-delete-icon {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 12px;
    color: red;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    padding: 2px;
}


.file-preview span {
    display: none;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--tooltip-bg-color);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 1080;
}

.file-preview:hover span {
    display: block;
}

.modal-confirm {
    color: #434e65;
    width: 525px;
}

.modal-confirm .modal-content {
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

.modal-confirm .modal-header {
    background: #df6969;
    border-bottom: none;
    position: relative;
    text-align: center;
    margin: -20px -20px 0;
    border-radius: 5px 5px 0 0;
    padding: 35px;
}

.modal-confirm h4 {
    text-align: center;
    font-size: 36px;
    margin: 10px 0;
}

.modal-confirm .form-control,
.modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px;
}

.modal-confirm .close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    text-shadow: none;
    opacity: 0.5;
}

.modal-confirm .close:hover {
    opacity: 0.8;
}

.modal-confirm .icon-box {
    color: #fff;
    width: 95px;
    height: 95px;
    display: inline-block;
    border-radius: 50%;
    z-index: 9;
    border: 5px solid #fff;
    padding: 26px;
    text-align: center;
}

.modal-confirm .icon-box i {
    font-size: 58px;
    margin: -2px 0 0 -2px;
}

.modal-confirm.modal-dialog {
    margin-top: 80px;
}

.modal-confirm .btn,
.modal-confirm .btn:active {
    color: #000;
    border-radius: 4px;
    background: #dcd2c0 !important;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border-radius: 30px;
    margin-top: 10px;
    padding: 6px 20px;
    min-width: 150px;
    border: none;
}

.modal-confirm .btn:hover,
.modal-confirm .btn:focus {
    background: #eda645 !important;
    outline: none;
}

#SidenavAddons>div {
    display: block;
}

#SidenavAddons .tab-content {
    display: none;
    color: #333;
    text-decoration: none;
    margin-bottom: 10px;
}

#SidenavAddons .tab-content a {
    display: block;
    color: #333;
    text-decoration: none;
    margin-bottom: 10px;
}

#SidenavAddons .tab-content a:hover {
    display: block;
    color: #333;
    text-decoration: none;
    margin-bottom: 10px;
    background-color: #e7e7e7;
}

#SidenavAddons .tab-content.active {
    display: block;
    color: #333;
    text-decoration: none;
    margin-bottom: 20px;
}

.nav-tabs {
    border-bottom: 1px solid #ccc;
}

.nav-item {
    margin-bottom: 5px;
    margin-top: 10px;
}

.nav-item a {
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    padding: 10px 15px;
    color: #111111;
    text-decoration: none;
    font-size: smaller;
}

.nav-item a:hover {
    border-color: #e7e7e7 #e7e7e7 #ddd;
    background-color: #e7e7e7;
}

.nav-item a.active {
    border-color: #ccc #ccc #fff;
    background-color: #a6c1ee;
}

.settings-dialog {
    max-width: 800px;
    width: 80vw;
}

#slider {
    margin: 50px auto;
    width: 80%;
}

#slider .noUi-handle {
    width: 20px;
    height: 30px;
    border: 1px solid #333;
    background: #FFF;
    cursor: pointer;
    z-index: 10;
}

#slider .noUi-connect:nth-child(0) {
    background: #000000;
}

/* Light Steel Blue */
#slider .noUi-connect:nth-child(1) {
    background: #B0C4DE;
}

/* Light Steel Blue */
#slider .noUi-connect:nth-child(2) {
    background: #D3D3D3;
}

/* Light Gray */
#slider .noUi-connect:nth-child(3) {
    background: #ADD8E6;
}

/* Light Blue */
#slider .noUi-connect:nth-child(4) {
    background: #90EE90;
}

/* Light Green */
#slider .noUi-connect:nth-child(5) {
    background: #87CEFA;
}

/* Light Sky Blue */
#slider .noUi-connect:nth-child(6) {
    background: #9370DB;
}

/* Medium Purple */
#slider .noUi-connect:nth-child(7) {
    background: #FFB6C1;
}

/* Light Pink */

.category {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.category::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 50%;
}

.category:nth-child(2)::before {
    background: #B0C4DE;
}

.category:nth-child(3)::before {
    background: #D3D3D3;
}

.category:nth-child(4)::before {
    background: #ADD8E6;
}

.category:nth-child(5)::before {
    background: #90EE90;
}

.category:nth-child(6)::before {
    background: #87CEFA;
}

.category:nth-child(7)::before {
    background: #9370DB;
}

.category:nth-child(8)::before {
    background: #FFB6C1;
}

.nav {
    margin-bottom: 30px;
    justify-content: space-around;
}

.typewriter-container {
    display: flex;
    align-items: center;
}

.loading-icon,
.other-icon {
    margin-right: 10px;
}

.typewriter-text {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 1.5s steps(30, end)
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

.expandable-content {
    display: none;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 6px;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 12px;
    margin-bottom: 10px;
}

.message.debug:hover .expandable-content,
.message.debug.active .expandable-content {
    display: block;
}

.message.debug:after {
    content: "";
    position: relative;
    top: 0;
    right: -10px;
    border: 5px solid transparent;
    border-bottom-color: var(--bot-bubble-text-color);
}

.message.debug.active:after {
    border-bottom-color: transparent;
    border-top-color: var(--bot-bubble-text-color);
}


.typing-indicator {
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
    margin-bottom: 2px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--bot-bubble-text-color);
    animation: pulse 1s infinite ease-in-out;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }
}

#errorModal {
    z-index: 9999;
}

#settingModal {
    z-index: 9990;
}

.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 20vh;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes windup-spin {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.fa-spinner {
    display: inline-block;
    animation: windup-spin 2s infinite linear;
}

.play-button {
    cursor: pointer;
    color: var(--icon-color);
}


/* Styles for the tooltip */
.dynamic-tooltip {
    position: absolute;
    padding: 7px;
    width: 160px;
    background-color: #5084d8;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
    border-radius: 5px;
    z-index: 9999;
    /* High z-index to ensure it's on top */
    visibility: hidden;
    /* Initially hidden */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* Additional styles for elements that will have tooltips */
[data-tooltip] {
    position: relative;
    cursor: pointer;
}

.chat-tab-dots {
    color: var(--chat-tab-dots-color);
    position: absolute;
    right: 10px;
    transform: translateY(-80%);
    cursor: pointer;
    display: none;
    font-size: x-large;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.chat-tab:hover .chat-tab-dots {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--chat-tab-menu-bg);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 999999;
    width: 150px;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu ul li {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: var(--chat-tab-dots-color);
    font-size: medium;
}

.dropdown-menu ul li:hover {
    background-color: var(--chat-tab-menu-hover-bg);
}

.share-modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-height: 90%;
    overflow-y: auto;
    z-index: 1001;
}

.bottom-buttons-container>div {
    display: inline-block;
    margin-right: 10px;
}