body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    flex-direction: column;
    margin-left: 0;
}
h1 {
    margin: 0 0 20px;
    text-align: center;
    color: #4c4c4c;
}

h2 {
    margin: 0 0 10px;
    text-align: center;
    color: #dedede;
    font-size: 24px;
}

h3{
    margin: 0 0 10px;
    text-align: center;
    color: #d4d4d4;
    font-size: 18px;
}

.chat-container {
    width: 80%;
    max-width: 90%;
    max-height: 80%;
    height: 800px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#messages {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.input-field {
    display: flex;
    border-top: 1px solid #ddd;
    padding: 10px;
    align-items: center;
}

.input-field textarea {
    flex: 1;
    border: none;
    padding: 10px;
    outline: none;
}

.input-field button {
    background: #c3cfe2;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s;
}

.input-field button:hover {
    background: #a6c1ee;
}

.message {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.message span.timestamp {
    font-size: 0.7em;
    color: #888;
    padding-right: 5px;
}

.message.bot .bubble {
    background-color: #ddd;
    color: #333;
    border-radius: 18px;
    padding: 10px 15px;
    display: inline-block;
    max-width: 80%;
    word-wrap: break-word;
}

.message.system .bubble {
    background-color: #c4d4be;
    color: #333;
    border-radius: 18px;
    padding: 10px 15px;
    display: inline-block;
    max-width: 80%;
    word-wrap: break-word;
}

.message.fr .bubble {
    background-color: #c0cfdc;
    color: #333;
    border-radius: 18px;
    padding: 10px 15px;
    display: inline-block;
    max-width: 80%;
    word-wrap: break-word;
}

.message.plan .bubble {
    background-color: #dcd2c0;
    color: #333;
    border-radius: 18px;
    padding: 10px 15px;
    display: inline-block;
    max-width: 80%;
    word-wrap: break-word;
}

.message.external .bubble {
    background-color: #d4c1be;
    color: #333;
    border-radius: 18px;
    padding: 10px 15px;
    display: inline-block;
    max-width: 80%;
    word-wrap: break-word;
}

.message.user .bubble {
    background-color: #c3cfe2;
    color: white;
    border-radius: 18px;
    padding: 10px 15px;
    display: inline-block;
    max-width: 80%;
    word-wrap: break-word;
    align-self: flex-end;
}

.message.error .bubble {
    background-color: #df6969;
    color: white;
    border-radius: 18px;
    padding: 10px 15px;
    display: inline-block;
    max-width: 80%;
    word-wrap: break-word;
    align-self: flex-end;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

pre {
    background-color: #f5f5f5; /* or any color you prefer */
    padding: 15px;
    border-radius: 5px;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.language {
    font-size: 0.8em;
    color: #888;
    margin-bottom: 5px;
}

.copy-btn {
    float: right;
    margin-right: 10px;
    margin-top: -20px;
    background: #c3cfe2;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.copy-btn:hover {
    background: #a6c1ee;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

#overlay.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

#overlay .text {
    color: white;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.spinner {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
.last-message {
    animation: fadeIn 0.3s;
}
.expandable {
    cursor: pointer;
    border: 1px solid #535353;
    border-radius: 5px;
    padding: 8px;
    margin: 9px 0;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
    max-height: 35px; /* initial collapsed height */
}

.expandable .arrow {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.expandable.expanded .arrow {
    transform: translateY(-50%) rotate(180deg);
}

.expandable.expanded {
    max-height: 500px; /* maximum expanded height */
}
.expandable .title {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
    padding-right: 30px;
}

.expandable .description {
    font-size: 1em;
    margin-bottom: 10px;
}

.expandable .details {
    font-size: 0.9em;
    color: #666;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: #c9c8c8;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #c9c8c8;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .sidenav h2 {
    font-size: 18px;
    color: #f1f1f1;
    margin-bottom: 20px;
}

.sidenav h3 {
    font-size: 16px;
    color: #f1f1f1;
    margin-bottom: 10px;
}

.sidenav a {
    padding: 5px 5px 5px 20px;
    text-decoration: none;
    font-size: 12px;
    color: #c9c8c8;
    display: block;
    transition: 0.3s;
}

.sidenav input[type="checkbox"] {
    margin-right: 10px;
}

.sidenav select, .sidenav textarea, .sidenav input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    color: #c9c8c8;
    background-color: #222;
    border: none;
}

.sidenav label {
    padding: 5px 5px 5px 20px;
    font-size: 12px;
    color: #c9c8c8;
}
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  .input-field i {
    margin-right: 10px;
  }
  
  .input-field .cogwheel {
    color: #c3cfe2;
    font-size: 20px;
    cursor: pointer;
}

.input-field .upload-icon {
    color: #c3cfe2;
    font-size: 20px;
    cursor: pointer;
}

.input-field .send-button {
    background: #c3cfe2;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s;
}

.input-field .send-button:hover {
    background: #a6c1ee;
}

#fileInfo {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#fileInfo #fileName {
    margin-right: 10px;
}

#fileInfo #deleteFile {
    background: #c3cfe2;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background 0.3s;
    display: none;
}
#fileInfo #uploadFile {
    background: #c3cfe2;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background 0.3s;
    display: none;
}

#fileInfo #deleteFile:hover {
    background: #a6c1ee;
}

.preset-text-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.preset-text-button {
    flex-grow: 1;
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
}

.thumbs {
    /* put them bottom right of the parent div */
    position: relative;
    bottom: 16px;
    left: 60px;
}

 /* button class thumbs up */
.thumbs-up {
    background: #0c6b3465;
    cursor: pointer;
}

/* button class thumbs down */
.thumbs-down {
    background: #c60c0c65;
    cursor: pointer;
}

/* Style for the right side navigation */
.sidenav-right {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/* Style for the debug windows */
.debug-window {
    margin: 15px;
    padding: 10px;
    background-color: #4b4b4b;
    border-radius: 5px;
    overflow-y: auto;
    max-height: 200px;
    color: #ffffff; /* default text color */
}

/* The content inside the debug windows */
#debugContent1 {
    color: #ffffff;
    overflow-y: auto;
    background-color: #4b4b4b;
    height: 40vh; /* or any height you prefer */
    margin-right: 10px;
}
#debugContent2 {
    color: #ffffff;
    overflow-y: auto;
    background-color: #4b4b4b;
    height: 40vh; /* or any height you prefer */
    margin-right: 10px;
}

/* The close button */
.dclosebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
}

.dclosebtn:hover {
    color: #ffffff;
    text-decoration: none;
}

.dclosebtn:link {
    color: #f1f1f1;
    text-decoration: none;
}


.bottomright-with-nw-resize-outer {
    /* Here's the trick: rotate the entire element so the resize handle is in the other corner. */
   transform: rotateZ(180deg);
   /* Note that in order to make resize: both work, an overflow is needed with anything other than visible.
      Set it to auto so we don't see scrollbars,
      but this element should never actually overflow as the only child has fixed 100% width and height.
   */
   resize: horizontal;
   overflow: auto;
   /* Need a little padding for this element for the resize handle to be clickable.
      Also note the rotation flips the directions that need padding. */
   padding: 0 8px 8px 0;
   /* Should work for position fixed or absolute, as long as it is bottom/right positioned. */
   position: fixed;
   bottom: 0px;
   right: 0px;
   /* initial size can be anything, but usually wise to set it to something sensible initially. */
   height: 0;
   width: 0;
   z-index: 5;
   background-color: #111;
}

.bottomright-with-nw-resize-inner {
   /* Rotate everything back so content is right way up: */
   transform: rotateZ(180deg);
   /* Grow along with resizable parent: */
   width: 100%;
   height: 100%;
   /* make contents scrollable if resizable parent gets to small: */
   overflow: auto;
}

.loginError { 
    background-color: #ff0000;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    display: none;
}